root = true

[.editorconfig]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.js]
indent_brace_style = K&R

[*.py]
max_line_length = 79
