<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Timer</th>
            <th scope="col">Today</th>
            <th scope="col">Start/Stop</th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="timer in timers | orderBy:'title'">
            <td>
                <a href="#/timer/{{ timer.id }}">{{ timer.title }}</a>
            </td>
            <td>
                ...
            </td>
            <td>
                <button class="btn btn-primary"
                        data-ng-show="!timer.active"
                        data-ng-click="timerStart(timer)">
                    Start
                </button>
                <button class="btn btn-warning"
                        data-ng-show="timer.active"
                        data-ng-click="timerStop(timer)">
                    Stop
                </button>
            </td>
        </tr>
    </tbody>
</table>
